@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap");

:root{
	--primary-color: #51023F;
	--secondary: #fac72b;
	--black: #141414;
	--white: #fff;
	--box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

.biv{
	font-size: 30px;
	font-weight: bold;
	/* width: 700px; */
}

.cont-u{
	display: flex;
	font-size: 15px;
}

.icons{
	display: flex;
}




.li{
	width: 240px;
	margin-top: -50px;
	
	
}

.user-display{
	font-size: 15px;
	margin-top: -5px;
}

* {
	font-family: 'DM Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: all .2s linear;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-padding-top: 9rem;
	scroll-behavior: smooth;
}

html::-webkit-scrollbar{
	width: 1rem;
}

html::-webkit-scrollbar-track{
	background: transparent;
}

html::-webkit-scrollbar-thumb{
	background: var(--primary-color);
}

section{
	padding: 5rem 7%;
}

.heading {
	position: relative;
	color: var(--primary-color);
	font-size: 3rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .4rem;
	text-align: center;
	margin-bottom: 3rem;
}

.heading::after {
	content: url('../images/separator.svg');
	display: block;
	width: 10rem;
	margin-inline: auto;
	margin-top: -1rem;
}

.btn {
	position: relative;
	display: inline-block;
	margin-top: 1rem;
	color: var(--primary-color);
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
	max-width: max-content;
	border: .1rem solid var(--primary-color);
	background-color: var(--secondary);
	padding: 1.2rem 4.5rem;
	overflow: hidden;
	z-index: 1;
	border-radius: .5rem;
}

.btn::before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 200%;
	height: 200%;
	border-radius: 50%;
	background-color: var(--primary-color);
	transition: 500ms ease;
	z-index: -1;
}

.btn .text {
	transition: 250ms ease;
}

.navbar{
	margin-left: 800px;
}

.navbar a{
	text-decoration: none;
}

.btn .text-2 {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: scaleX(-50%);
	min-width: max-content;
	color: var(--secondary);
}

.btn:is(:hover, :focus-visible)::before {
	bottom: -50%;
}

.btn:is(:hover, :focus-visible) .text-1 {
	transform: translateY(-4rem);
}

.btn:is(:hover, :focus-visible) .text-2 {
	top: 50%;
	transform: translate(-50%, -50%);
}

.shine {
	position: relative;
}

.shine::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-image: linear-gradient(to right, transparent 0%, #fff6 100%);
	transform: skewX(-0.08turn) translateX(-180%);
}

.shine:is(:hover, :focus-within)::after {
	transform: skewX(-0.08turn) translateX(275%);
	transition: 1000ms ease;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: var(--white);
	box-shadow: var(--box-shadow);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 9%;
}

.header .logo {
	font-size: 2.5rem;
	font-weight: bolder;
	color: var(--black);
}

.header .logo i {
	color: var(--primary-color);
	padding-right: .5rem;
}

.header .navbar a {
	font-size: 1.9rem;
	color: var(--black);
	margin: 0 1rem;
	padding-block: 1rem;
	 ;
}

.header .navbar a:hover {
	color: var(--primary-color);
}

.header .navbar .hover-underline {
	position: relative;
	max-width: max-content;
}

.header .navbar .hover-underline::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0.5rem;
	border-block: .1rem solid var(--primary-color);
	transform: scaleX(0.2);
	opacity: 0;
	transition: 500ms ease;
}

.header .navbar .hover-underline:is(:hover, :focus-visible)::after {
	transform: scaleX(1);
	opacity: 1;
}

.header .icons div {
	font-size: 2.5rem;
	margin-left: 1.7rem;
	color: var(--black);
	cursor: pointer;
}

.header .icons div:hover {
	color: var(--primary-color);
}

#menu-btn {
	display: none;
}

.header .login-form {
	position: absolute;
	top: 115%;
	right: -105%;
	background-color: var(--white);
	box-shadow: .5rem;
	width: 35rem;
	box-shadow: var(--box-shadow);
	padding: 2rem;
}

.header .login-form.active {	
	right: 2rem;
	transition: .4s linear;
}

.header .login-form h3 {
	font-size: 2.2rem;
	color: var(--black);
	text-align: center;
	margin-bottom: 0.7rem;
}

.header .login-form .box {
	font-size: 1.5rem;
	margin: .7rem 0;
	border: 0.1rem solid rgba(0, 0, 0, 0.1);
	padding: 1rem 1.2rem;
	color: var(--black);
	text-transform: none;
	width: 100%;
}

.header .login-form .remember {
	display: flex;
	align-items: center;
	gap: .5rem;
	margin: .7rem 0;
}

.header .login-form .remember label {
	font-size: 1.5rem;
	color: var(--black);
	cursor: pointer;
}

.home {
	min-height: 100vh;
	display: flex;
	align-items: center;
	background: url('../images/aniv1.png') no-repeat;
	background-size: cover;
	background-position: center
}

.home .content {
	max-width: 50%;
}

.home .content h3 {
	font-size: 5rem;
	color: var(--white);
	line-height: 1.2;
}

.home .content p {
	font-size: 1.5rem;
	line-height: 2;
	color: var(--white);
	padding: 1rem 0;
}
.logo{
	width: 50px;
}
.about{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgb(236, 233, 233);;
}

.contact{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}

input{
	background-color: rgb(255, 255, 255);;	
}

textarea{
	background-color: rgb(255, 255, 255);;	
}	


.about .container {
	display: flex;
	flex-wrap: wrap;
}

.about .container .about-image {
	position: relative;
	flex: 1 1 40rem;
}

.about .container .about-image img {
	width: 80%;
}

.about .container .about-image .about-img {
	position: absolute;
	bottom: -10rem;
	right: -1rem;
	width: 25rem;
	padding-block: 5rem;
}

.about .container .about-content {
	flex: 1 1 50rem;
	padding-left: 6rem;
	padding-top: 8rem;
}

.about .container .about-content h3 {
	font-size: 3rem;
	color: var(--primary-color);

}

.about .container .about-content p {
	font-size: 1.6rem;
	color: #444;
	padding: 1rem 0;
	line-height: 1.8;
}



.contact .row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 2rem;
}

.contact .row .image {
	flex: 1 1 40rem;
}

.contact .row .image img {
	width: 100%;
}

.contact .row form {
	
	flex: 1 1 40rem;
	width: 50%;
	border: 0.1rem solid var(--primary-color);
	padding: 2rem;
}

.contact .row form h3 {
	font-size: 2.5rem;
	color: #444;
	padding-bottom: 1rem;
}


.CreatEve .row form .box {
	width: 100%;
	font-size: 1.6rem;
	padding: 1.2rem 1.4rem;
	border: .1rem solid var(--primary-color);
	background-color: white;
	margin: .7rem 0;
}

.CreatEve .row {
	
	gap:  40px;
	width: 40%;
	font-size: 2.6rem;
	padding: 3.2rem 8.4rem;
	box-shadow: 2px #fff;
	border-radius: 50px 0px 0px;
	height: 40%;
	background-color: white;
	margin: .7rem 0;
}

.CreatEve{
	display: flex;
	justify-content: center;
	
	gap: 60px;
}

.mod{
	width: 50%;
	height: 10%;
}

.contact .row form .box {
	width: 100%;
	font-size: 1.6rem;
	padding: 1.2rem 1.4rem;
	border: .1rem solid var(--primary-color);
	margin: .7rem 0;
}



.contact .row form .box {
	width: 100%;
	font-size: 1.6rem;
	padding: 1.2rem 1.4rem;
	border: .1rem solid var(--primary-color);
	margin: .7rem 0;
}

.contact .row form .box:focus {
	color: var(--primary-color);
}

.contact .row form textarea {
	height: 15rem;
	resize: none;
}

.footer {
	/* background: url('../images/gat.png') no-repeat; */
	background-color:  #51023F; 
	
	text-align: center;
}

.footer .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 2rem;
}

.footer .box-container .box h3 {
	font-size: 2.2rem;
	color: white;
	padding: 1rem 0;
}

.footer .box-container .box p {
	font-size: 1.5rem;
	color: white;
	line-height: 2;
	padding: 1rem 0;
}

.footer .box-container .box .share {
	margin-top: 1rem;
}

.footer .box-container .box .share a {
	height: 4.5rem;
	width: 4.5rem;
	line-height: 4.5rem;
	border-radius: 10%;
	font-size: 1.7rem;
	border: .1rem solid white;
	color: white;
	margin-right: .3rem;
	text-align: center;
}

.footer .box-container .box .share a:hover {
	background-color: #DEAD03;
	color: #51023F;
}

.footer .box-container .box .link {
	font-size: 1.7rem;
	line-height: 2;
	color: white;
	padding: .5rem 0;
	text-transform: none;
	display: block;
}

.footer .box-container .box .link:hover {
	color: #DEAD03;
	text-decoration: underline;
}

.footer .credit {
	font-size: 2rem;
	margin-top: 3rem;
	padding-top: 3rem;
	text-align: center;
	color: white;
	border-top: .1rem solid white;
}

@media (max-width:991px) {

html {
	font-size: 55%;
}

.header {
	padding: 2rem 4rem;
}

section {
	padding: 3rem 2rem;
}

.navbar{
	margin-left: 800px;
}



}

@media (max-width:768px) {

.CreatEve .row {
	
		gap:  40px;
		width: 80%;
		font-size: 2.6rem;
		padding: 3.2rem 8.4rem;
		box-shadow: 2px #fff;
		border-radius: 50px 0px 0px;
		height: 40%;
		background-color: white;
		margin: .7rem 0;
	}

	.mod{
		width: 80%;
		height: 10%;
	}

	.navbar{
		margin-left: 700px;
	}

	

	.CreatEve{
		display: flex;
		align-items: center;
		flex-direction: column-reverse;
		justify-content: center;
		
		gap: 60px;
	}

#menu-btn {
	display: inline-block;
}

.header .navbar {
	position: absolute;
	top: 110%; right: -110%;
	width: 30rem;
	box-shadow: var(--box-shadow);
	border-radius: .5rem;
	background: var(--white);
}

.header .navbar.active {
	right: 2rem;
	transition: .4s linear;
}

.header .navbar a {
	font-size: 2rem;
	margin: 1rem 2.5rem;
	display: block;
}

.home .content h3 {
	font-size: 3rem;
}

.about .container .about-content {
	padding-left: 0;
}
}

@media (max-width:450px) {
html {
	font-size: 50%;
}

.CreatEve{
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
	justify-content: center;
	
	gap: 60px;
}

.dis1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home1 {
	height: 300px;
	color: white;
	display: flex;
	align-items: center;
	background: url("/images/maria.png") no-repeat;
	background-size: cover;
	background-position: center
}


.mod{
	width: 90%;
	height: 10%;
}



.CreatEve .row {
	
	gap:  40px;
	width: 110%;
	font-size: 2.6rem;
	padding: 3.2rem 8.4rem;
	box-shadow: 2px #fff;
	border-radius: 50px 0px 0px;
	height: 40%;
	background-color: white;
	margin: .7rem 0;
}
}

label{
	font-size: 15px;
}







.header1 {
	
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: var(--white);
	box-shadow: var(--box-shadow);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 9%;
}

.navbar1{
	margin-left: 300px;
}

.header .navbar1 a {
	font-size: 1.7rem;
	color: var(--black);
	margin: 0 1rem;
	padding-block: 1rem;
}

.header .navbar1 a:hover {
	color: var(--primary-color);
}

.header .navbar1 .hover-underline {
	position: relative;
	max-width: max-content;
}

.header .navbar1 .hover-underline::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0.5rem;
	border-block: .1rem solid var(--primary-color);
	transform: scaleX(0.2);
	opacity: 0;
	transition: 500ms ease;
}

.header .navbar1 .hover-underline:is(:hover, :focus-visible)::after {
	transform: scaleX(1);
	opacity: 1;
}

.home1 {
	height: 400px;
	color: white;
	display: flex;
	align-items: center;
	background: url("/images/maria.png") no-repeat;
	background-size: cover;
	background-position: center
}

.home1 .content {
	max-width: 50%;
}

.home1 .content h3 {
	font-size: 20 rem;
	color: var(--white);
	line-height: 1.2;
}

.home1 .content p {
	font-size: 1.5rem;
	line-height: 2;
	color: var(--white);
	padding: 1rem 0;
}

.dd{
	text-align: center;
	font-size: 35px;
	color: #fff;
}

.about1{
	background-color: rgb(255, 255, 255);;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dis1{
	display: flex;
	justify-content: center;
	gap: 70px;
}

.profil1{
	width: 250px;
	height: 300px;
	background-color: #491801;
}

.descriptiontitre1{
	width: 70%;
	font-size: 13px;
	text-align: center;
	padding: 10px;
	margin: 30px;
       border: solid 1px #491801;
	border-radius: 20px 20px 20px;
}

.footer1 {
	
	background:  url("/images/maria1.png") no-repeat;
	text-align: center;
}

.heading1 {
	position: relative;
	color: var(--primary-color);
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .4rem;
	text-align: center;
	margin-bottom: 3rem;
}



.heading1::after {
	content: url('../images/');
	display: block;
	width: 45rem;
	margin-inline: auto;
	margin-top: -1rem;
}

.li1{
	width: 170px;
	margin-top: -290px;
	
	
}

.footer1 .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 2rem;
}

.footer1 .box-container .box h3 {
	font-size: 2.2rem;
	color: var(--primary-color);
	padding: 1rem 0;
}

.footer1 .box-container .box p {
	font-size: 14px;
	color: var(--black);
	line-height: 2;
	
}

.contact1 .row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	
}

.contact1{
	background-color: #ffffff;
	height: 10px;
	text-align: center;
}






